/* PHASE 6: Sidebar */
.profile-picture {
  display: block;
  width: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: auto;
  margin-top: -100px;
  position: relative;
  /*bottom: 100px;*/
  overflow: hidden;
}

.profile-info {
  width: 200px;
  margin: auto;
}

.profile-info > h3{
  font-weight: 700;
  font-size: 24px;
}

.profile-info > p {
  font-weight: 400;
}

.profile-info-list {
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  margin-bottom: 180px;
}

.profile-info-list > li > a{
  float: left;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 5px;
}

.profile-info-list > li:first-of-type a {
  border-top: 1px solid #ccc;
  width: 100%;
}
