/* PHASE 7: Online */
.online {
  background-color: #0c0;
  position: absolute;
  color: #fff;
  padding: 5px 30px;
  font-weight: 700;
  font-size: 12px;
  transform: rotate(-45deg);
  top: 10px;
  left: -30px;
}
