/* PHASE 8: Thumbs */

.friends-grid {
  width: 200px;
  margin: auto;
}

.friends-grid > ul {
  padding: 0px;
}

.thumb {
  width: 60px;
  float: left;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 7px;
  display: block;
  position: relative;
}

.friends-grid > ul > li:nth-of-type(3n-1) > a{
  margin: 0px 7px;
}

.thumb:before {
  content: attr(title);
  display: block;
  position: absolute;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  left: 50%;
  padding: 3px 10px;
  transform: translateX(-50%);
  border-radius: 5px;
  top: -25px;
}

.thumb:after {
  width: 0;
  height: 0;
  background: transparent;
  border-top: 10px solid #000;
  border-bottom: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
}
